<div class="min-h-screen">
  <h1>Кошик</h1>
  <div id="errorContainer"></div>
  <div data-controller="cart">
    <div class="mt-4 font-medium" id="total"></div>
    <button class="mt-6 py-2 px-4 bg-blue-300 hover:bg-blue-600 rounded text-white" data-action="click->cart#checkout">Підтвердити</button>
    <button class="py-2 px-4 bg-blue-300 hover:bg-blue-600 rounded text-white" data-action="click->cart#clear">Очистити кошик</button>
  </div>
</div>
